
    <div >
        <h2 class="page-header">本例演示如何登录,请上firebase打开Simple Login的enable选项</h2>
        <h3 class="well">Current User :{{loginObj.user}}</h3>
        <p>
        <span ng-show="loginObj.user">
            <a href="" ng-click="loginObj.$logout()">Logout</a>
        </span>
        </p>
        <form ng-hide="loginObj.user" ng-submit="submitForm()" role="form">
            <input type="text" ng-model="login.email" placeholder="Email" />
            <input type="text" ng-model="login.password" placeholder="Password" />
                <button type="submit">
                    Login In
                </button>
        </form>

        <input type="text" ng-model="create.email" placeholder="Email" />
        <input type="text" ng-model="create.password" placeholder="Password" />
        <button ng-click="createUser()">Create User</button>
    </div>
