<div>
    <div>
        <h2 class="page-header">本例使用ng-click,$http演示如何修改数据</h2>
        <h4 class="well">User: {{user}}</h4>
        <form role="form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="user.name">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" placeholder="Your Age" ng-model="user.age">
            </div>
            <button type="submit" class="btn btn-default" ng-click="update()">Update</button>
        </form>
        <h4>{{message}}</h4>
    </div>
</div>